<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AZKOITI - Calculadora Prestamos</title>
  <link rel="stylesheet" href="../css/calculadora.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
</head>

<body>
  <header>
    <nav>
    </nav>
  </header>
  <div class="tabs-container">
    <div class="tab-buttons">
      <button class="tab-button" onclick="eleccionSistema('simple', this)">Simple</button>
      <button class="tab-button" onclick="eleccionSistema('americano', this)">Americano</button>
      <button class="tab-button" onclick="eleccionSistema('lineal', this)">Lineal</button>
      <button class="tab-button" onclick="eleccionSistema('frances', this)">Frances</button>
      <button class="tab-button" onclick="eleccionSistema('cCompleta', this)">Carencia Completa</button>
      <button class="tab-button" onclick="eleccionSistema('cParcial', this)">Carencia Parcial</button>
    </div>

    <form id="prestamoForm">
      <label for="monto">Monto del préstamo:</label>
      <input type="number" id="monto" step="500" required>

      <label for="plazo">Plazo (años):</label>
      <input type="number" id="plazo" required>

      <label for="plazo" class="periodo">Periodo (años):</label>
      <input type="number" class="periodo" id="periodosCarencia">

      <label for="interes">Tasa de interés (%):</label>
      <input type="number" id="interes" required>

      <button type="button" onclick="calcularPrestamo()">Calcular</button>
    </form>

    <div id="tablaPrestamo">

    </div>

  </div>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
  <script src="../js/calculadora.js"></script>
</body>

</html>