<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Azkoiti</title>
  <link rel="shortcut icon" href="" type="image/x-icon">
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="../css/header.css">
  <!-- conexion con bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
</head>

<body>
  <!-- cabecero de la pagina -->
  <header class="container-fluid">
    <nav id="barra" class="row bg-black d-flex justify-content-around">
      <div class="col-12 col-md-3 d-flex align-items-center">
        <a href="index.html">
          <img src="../img/icons/azkoiti_texto_sin_fondo_white.png">
        </a>
      </div>
      <ul class="col-12 col-md-8 list-unstyled m-0 d-flex align-items-center justify-content-end">

        <div id="logReg">
          <li class="d-flex align-items-center">
            <i class="fa-solid fa-arrow-right-to-bracket"></i>
            <a href="LoginRegistro.html" class="navTitles">Log-In / Sign-up</a>
          </li>
        </div>

        <li class="nav-item dropdown" id="userDrop">
          <i class="fa-solid fa-user"></i>
          <a class="nav-link dropdown-toggle navTitles" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            User
          </a>
          <ul class="dropdown-menu" style="background-color: black;">
            <li>
              <div class="dropContent dropItem">
                <a class="dropdown-item" href="history.html">Orders history</a>
                <ion-icon class="text-white" name="book-outline"></ion-icon>
              </div>
            </li>
            <li>
              <div class="dropContent dropItem">
                <a class="dropdown-item" onclick="cerrarSesion()">Log Out</a>
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
              </div>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown" id="adminDrop">
          <i class="fa-solid fa-user"></i>
          <a class="nav-link dropdown-toggle navTitles" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            User
          </a>
          <ul class="dropdown-menu" style="background-color: black;">
            <li>
              <div class="dropContent dropItem">
                <a class="dropdown-item" href="CalculadoraPrestamos.html"><i
                    class="fa-solid fa-calculator"></i>Calculadora</a>
              </div>
            </li>
            <li>
              <div class="dropContent dropItem">
                <a class="dropdown-item" href="#">Prestamos pendientes</a>

              </div>
            </li>
            <li>
              <div class="dropContent dropItem">
                <a class="dropdown-item" onclick="cerrarSesion()">Log Out</a>

              </div>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>

  <!-- contenido de la pagina divididos por secciones -->
  <div id="uno">
    <section class="fsec">
      <h2>Préstamos Rápidos y Convenientes</h2>
      <p>Bienvenido a Azkoiti, tu socio financiero donde ofrecemos soluciones financieras rápidas y flexibles para tus
        necesidades. Ya sea que estés buscando un préstamo personal, de negocios o hipotecario, ¡estamos aquí para
        ayudarte!</p>
      <button href="CalculadoraPrestamos.html" class="navTitles" id="finanzasboton">Hacer Finanzas!!</button>
    </section>
    <img src="../img/icons/images.png">
  </div>
  <div id="dos">
    <section>
      <h2>¿Por Qué Elegir Azkoiti?</h2>
      <p>Nos destacamos por:</p>
      <ul>
        <li>Rápida aprobación y desembolso</li>
        <li>Intereses competitivos</li>
        <li>Flexibilidad en términos de pago</li>
        <li>Proceso de solicitud sencillo</li>
      </ul>
    </section>

    <section>
      <h2>Tipos de Préstamos que Ofrecemos</h2>
      <p>Ofrecemos una variedad de opciones de préstamos, incluyendo:</p>
      <ul>
        <li>Préstamos personales</li>
        <li>Préstamos para pequeñas empresas</li>
        <li>Préstamos hipotecarios</li>
        <li>Préstamos de emergencia</li>
      </ul>
    </section>
  </div>
  <section>
    <h2>Contáctanos</h2>
    <p>¿Tienes preguntas o necesitas asistencia? Contáctanos ahora mismo y nuestro equipo estará encantado de
      ayudarte.</p>
    <button>Contactar</button>
  </section>

  <!-- conexion con jquery y ajax -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script src="../js/index.js"></script>
  <script src="../js/comun.js"></script>
  <!-- iconos -->
  <script src="https://kit.fontawesome.com/54820bdf60.js" crossorigin="anonymous"></script>
</body>

</html>