.tabs-container {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

.prestamo-container {
    margin-top: -10px;
}

.buttonDiv {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.tab-buttons {
    display: flex;
    border-radius: 5px 5px 0 0;
}

.tab-button {
    flex: 1;
    padding: 15px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    border: none;
    background-color: #111626;
    color: white;
    transition: background-color 0.3s ease;
}

.tab-button:hover {
    background-color: #414863;
}

.tab-content.activado {
    display: block;
}

.periodo {
    display: none;
}

.activado {
    background-color: #414863;
}

#prestamoForm {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

#prestamoForm>*:not(:first-child) {
    margin-top: 10px;
}

.divBotones {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.divBotones>*:not(:first-child) {
    margin-top: 10px;
}

label {
    font-size: 16px;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.botonCalcu {
    background-color: #111626;
    color: #fff;
    padding: 12px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

.botonCalcu:hover {
    background-color: #2a2f41;
}

#tablaPrestamo {
    display: none;
    padding: 20px;
}

#botonBorrarTabla {
    display: none;
}