@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    font-family: 'Montserrat';
}

i {
    color: white;
}

header {
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;
}

#barra {
    height: auto;
    padding: 20px;
    background-color: #111626;
}

#barra img {
    height: 30px;
    margin-left: 5px;
}

#barra li {
    margin-right: 20px;
}

#barra a {
    margin-right: 20px;
    text-decoration: none;
    color: white;
    margin-left: 5px;
}

#barra h3 a {
    height: 50px;
    line-height: 50px;
    margin-left: 5px;
}

.logButton {
    color: white;
}

#userDrop,
#adminDrop {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dropContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-menu {
    background-color: #111626;
}

.dropdown-item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.dropdown-item:hover {
    background-color: #2a2f41;
}