section {
    width: 100%;
    padding: 5px 100px 5px 100px;
}

.elemento,
.listas {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.hacerFinanzas,
.contactanos {
    background-color: #111626;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.5s;
}

.hacerFinanzas {
    border: none;
    border-radius: 10px;
}

button:hover {
    background-color: #2a2f41;
}