section {
    width: 100%;
    padding: 5px 100px 5px 100px;
}

.elemento,
.listas {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contactanos {
    box-shadow: 0 0 10px rgb(61, 46, 83);
}

/*
.hacerFinanzas {
    background-color: #111626;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.5s;
}

.hacerFinanzas {
    border: none;
    border-radius: 10px;
} */